/*个人中心*/
	.Mycenter{
		border: 0px solid red;
		margin-left: auto;
		margin-right: auto;
		height: 900px;
		width: 1200px;
	}
	/*个人中心左菜单*/
	.Mycenter .MycenterMenu{
		border: 0px solid red;
		padding-top: 10px;
		height: 890px;
		width: 200px;
		color: white;
		background-color: #262626;
		float: left;
	}
	.Mycenter .MycenterMenu .head{
		border: 0px solid red;
		height: 170px;
		width: 200px;
		text-align: center;
		background-color: #333333;
		padding-top: 30px;
	}
	.Mycenter .MycenterMenu .head img{
		border-radius: 50%;
	}
	.Mycenter .MycenterMenu .MyMenu{
		border: 0px solid red;
		height: 50px;
		width: 200px;
		text-align: center;
		margin-top: 50px;
		background-color: #333333;
		line-height: 50px;
	}
	.Mycenter .MycenterMenu .MyMenu ul{
		padding: 0px;
		margin: 0px;
		
	}
	.Mycenter .MycenterMenu .MyMenu li{
		list-style-type: none;
		border-bottom: 1px solid #45C8DC ;
		
	}
	.Mycenter .MycenterMenu .MyMenu a{
		text-decoration: none;
		color: white;
		
	}
	.Mycenter .MycenterMenu .MyMenu li:hover{
		
		background-color: darkorange;
		color: black;
	}