body{
		padding: 0px;
		margin: 0px;
	}
	/*<!--头部黑色导航-->*/
	.TopNav{
		
		height: 40px;
		border: 0px;
		background-color: #333333;
	}
	.TopNav a{
		
		text-decoration: none;
		color: gainsboro;
	}
	.TopNav .center{
		height: 40px;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	.TopNav .center li{
		 list-style-type: none;
		 border: 0px;
		 line-height: 40px;
		 color: gainsboro;
	}
	.TopNav .center .left li{
		  float: left;
		  margin-right: 30px;
		 
	}
	.TopNav .center .right{
		  
		  margin-left: 800px;
		  
	}
	
	.TopNav .center .right li{
		  float: left;
		  margin-left: 30px;
	}
	.TopNav .center a:hover{
		color: white;
	}
	.TopNav .center .shopping{
		float: right;
		height: 40px;
		width: 100px;
		background-color: #424242;
		margin-left: 0px;
		color: white;
		text-align: center;
		line-height: 40px;
	}
	/*<!--头部log导航-->*/
	.NvaLog{
		height: 50px;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		border: 0px solid red;
		margin-top: 20px;
		
	}
	.NvaLog .log{
		width: 70px;
		float: left;
	}
	.NvaLog ul{
		margin-left: 200px;
	}
	.NvaLog li{
		list-style-type: none;
		float: left;
		margin-left: 20px;
		border: 0px;
		line-height: 40px;
		
	}
	.NvaLog a:hover{
		color:  darkorange;
	}
	.NvaLog input{
		list-style-type: none;
		float: left;
		margin-left: 477px;
		border: 1px solid  #424242;
		margin-top: 1px;
		height: 30px;
		
		
	}
	.NvaLog .sousuo{
		
		float: right;
		
		border: 1px solid  #424242;
		height: 32px;
		width: 50px;
		text-align: center;
		line-height: 30px;
		margin-top: 1px;
	}
	.NvaLog div:hover{
		background-color: darkorange;
		color: white;
	}
	/*<!--底部信息-->*/
	.massage{
		height: 200px;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		border: 0px solid red;
		margin-top: 20px;
		background-color: #F5F5F5;
		text-align: center;
		line-height: 50px;
	}
	.massage span{
		font-size: 20px;
		color: #D6D6D6;
	}
	/*登录*/
		.login{
			height: 400px;
			width: 500px;
			background-color: black;
			opacity: 0.5;
			position: fixed;
			top: 100px;
			left: 400px;
			z-index: 3;
			text-align: center;
			display: none;
		}
		.login h2{
			color: deepskyblue; 
			font-family: "微软雅黑";
		}
		.login div{
			margin-top: 50px;
			color: white;
		}
		.login input[type="button"]{
			height: 30px;
			width: 50px;
			margin:30px;
		}