body {
	margin: 0px;
}
/*首页上方导航*/
.top{
	width: 100%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	
	
}
.top a:hover{
	color: #00AEE1;
}
/*导航左边*/
.top .top_1{
	float: left;
	height: 100px;
	width: 50%;
	font-size:25px ; 
	color: #646464;
	background-color:#F9F9F9 ;
	
	
}
/*导航左边标签*/
.top  a{
	padding-left: 40px;
	 
}
/*右边*/
.top .top_2{
	height: 72px;
	width: 50%;
	font-size:25px ; 
	color: white;
	background-color: black;
	float: right;
	padding-top: 28px;
}
/*页面中部*/
.center{
	width: 1300px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}
/*页面底部*/
.bottom{
	width: 100%;
	height: 350px;
	margin-top: 50px;
	background-image:  url(../img/bottom_bg.jpg);
	color: white;
	
}
#bt {
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}
.bottom .bottom_1{
	
	width: 300px;
	height: 300px;
	float: left;
}
.bottom .bottom_2{
	
	width: 300px;
	height: 300px;
	margin-left: 100px;
	float: left;
}
.bottom .bottom_3{
	
	width: 200px;
	height: 170px;
	margin-left: 200px;
	float: left;
	padding-top: 80px;
}
.bottom .bottom_3 a:hover{
	color: #00AEE1;
}
		